@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 0 0% 99%;
    --ring: 256 70% 59%;
    --input: 256 12% 92%;
    --muted: 256 25% 91%;
    --accent: 256 25% 82%;
    --border: 256 12% 92%;
    --popover: 0 0% 99%;
    --primary: 256 70% 59%;
    --secondary: 256 19% 88%;
    --background: 256 43% 100%;
    --foreground: 256 52% 1%;
    --destructive: 12 87% 37%;
    --card-foreground: 0 0% 0%;
    --muted-foreground: 256 11% 34%;
    --accent-foreground: 256 25% 22%;
    --popover-foreground: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 256 19% 28%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 256 39% 3%;
    --ring: 256 70% 59%;
    --input: 256 12% 14%;
    --muted: 256 25% 9%;
    --accent: 256 16% 26%;
    --border: 256 12% 14%;
    --popover: 256 39% 3%;
    --primary: 256 70% 59%;
    --secondary: 256 10% 17%;
    --background: 256 39% 2%;
    --foreground: 256 10% 100%;
    --destructive: 12 87% 56%;
    --card-foreground: 0 0% 100%;
    --muted-foreground: 256 11% 66%;
    --accent-foreground: 256 16% 86%;
    --popover-foreground: 0 0% 100%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 256 10% 77%;
    --destructive-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
